{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sair{% endblock %}

{% block content %}
    <!-- Navigation Start -->
    {% include 'navbar_register.html' %}
    <!-- Header Start -->
    {% include 'header.html' %}

<section id="section-logout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>DESCONECTADO</h2>
                <div class="border-top pt-3">
                    <small class="texte-muted">
                        Você foi desconectado, deseja entrar novamente?<a class="ml-2" href="{% url 'login' %}">Entrar</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}