{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Perfil{% endblock %}

{% block content %}
    <!-- Navigation Start -->
    {% include 'navbar_register.html' %}
    <!-- Navigation End -->
    {% include 'header.html' %}
<section id="section-profile">
    <div class="container">
        <div class="row">
            <div class="col">
                <legend class="border-bottom mb-4">
                    <h2>Informações Pessoais.</h2>
                </legend>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <br>
            <div class="col-12">
                <img src="{{ user.profile.imagem.thumb.url }}" alt="Avatar" width="150" height="150">
                <br><br>
                <h4>#{{ user.id }}</h4>
                <h4>{{ user.get_full_name }}</h4>
                <h4>{{ user.born }}</h4>
                <h4>{{ user.email }} </h4>
                <h4>{{ user.city }}, {{ user.uf }} </h4>
                <br>
                <a class="btn btn-primary" href="{% url 'profile-update' user.id %}">Editar</a>
                <button type="button" class="btn btn-danger">Resetar Senha</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}