{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registre-se{% endblock %}

{% block content %}

    <!-- Navigation Start -->
    {% include 'navbar_register.html' %}
    <!-- Navigation End -->
{% if user.is_anonymous %}
<section id="section-register">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Cadastre-se</legend>

                        {{ form.media }}
                        {{ form|crispy }}

                    </fieldset>
                    <div class="form-group">
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>
                        </div>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="texte-muted">
                        Ja tem uma Conta?<a class="ml-2" href="{% url 'login' %}">Entrar</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% include 'header.html' %}
<section id="section-logout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>OPS! VOCÊ JA ESTA AUTENTICADO</h2>
                <div class="border-top pt-3">
                    <small class="texte-muted">
                        Você ja possui um registro. Gostaria de ir para Eventos?<a class="ml-2" href="{% url 'eventos' %}">Eventos</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<script>
   $(document).ready(function(){
   $('#id_fone').phoneBrazil();
   $('.class-phone').phoneBrazil();
   $('input[name=phone]').phoneBrazil();
});
</script>
{% endblock %}