{% load static %}

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>SOBRE</h2>
        <p class="lead">Projeto/Site "Easy-Events". Desenvolvido para fins Acadêmicos.</p>
        <ul>
          <li>O Projeto tem como ideia construir um “classificado” online para eventos.
            Onde pessoas interessadas em fazer eventos, cadastram seus eventos.
            E empresas interessadas em fornecer serviços de festa acessam o site a procura de clientes em potencial.</li>
          <br>
          <li>Funcionalidades para Clientes: Cadastro, Criação de Perfil, Edição de Perfil e Cadastro de Eventos.</li>
          <li>Funcionalidades para Empresas: Cadastro, Criação de Perfil, Edição de Perfil e Visualização de Eventos.</li>
          <li>Funcionalidades para Administração: Area de Administração, Criação de SuperUsuário, Manutenção em Geral.</li>
        </ul>
      </div>
    </div>
  </div>
</section>