{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <!-- JQUERY LOADING FIRST FOR GOD SAKE -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <!-- Fonts Awesome for Custom Icons -->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js"></script>
    <!-- Google Custom Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=B612">



</head>
<body id="page-top">

    {% block content %}
    {% endblock %}


        <!-- Scroll to Top Button START -->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        <!-- Scroll to Top Button END -->


        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <!-- Custom JavaScript -->
        <script src="{% static 'js/scrolling-nav.js' %}"></script>
        <!-- Custom JQuery Mask -->
        <script src="{% static 'js/phone-mask.js' %}"></script>

</body>
</html>