{% load static %}
{% load crispy_forms_tags %}

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>CONTATE-NOS</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
                  {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
          {% endif %}
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">

              {{ form|crispy }}

            </fieldset>
            <div class="form-group">
              <div class="d-flex justify-content-end">
                <button class="btn btn-custom btn-lg" type="submit">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
