{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Eventos{% endblock %}

{% block content %}
    <!-- Navigation Start -->
    {% include 'navbar_register.html' %}
    <!-- Navigation End -->
  <section id="section-register">
      <div class="container">
          <div class="row">
              <div class="col-lg-5 mx-auto">
                  <form method="post">
                      {% csrf_token %}
                      <fieldset class="form-group">
                          <legend class="border-bottom mb-4">Eventos</legend>

                        {{ form.media }}
                        {{ form|crispy }}

                      </fieldset>
                      <div class="form-group">
                          <button class="btn btn btn-primary btn-lg btn-block" type="submit">Salvar</button>
                          <a class="btn btn btn-danger btn-lg btn-block" href="{% url 'eventos' %}">Cancelar</a>
                      </div>
                  </form>
              </div>
          </div>
    </div>
  </section>
{% endblock %}