{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Eventos{% endblock %}
{% block content %}
<!-- Navigation Start -->
{% include 'navbar_register.html' %}
<!-- Navigation End -->
{% include 'header.html' %}
<section id="section-eventos">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-custom btn-lg btn-block" href="{% url 'eventos-create' %}">Criar Evento</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>{{ mes }}</h1>
        <div class="row">
            {% for e in eventos %}
            {% if e.autor.get_full_name == user.get_full_name %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="image-flip" >
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title mt-3">{{ e.nome  }}</h4>
                                    <div class="meta">
                                        <a>Por: {{ e.autor.get_full_name }}</a>
                                    </div>
                                    <div class="card-text">
                                        Evento: {{ e.evento }}.
                                    </div>
                                    <div class="card-text">
                                        Serviço: {{ e.servico }}.
                                    </div>
                                    <div class="card-text">
                                        Para: {{ e.pessoas }} pessoas.
                                    </div>
                                    <div class="card-text">
                                        R$: {{ e.orcamento }}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small>Data: {{ e.data }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-block">
                                    <h2 class="card-title mt-3"> Informações Pessoais </h2>
                                    <div class="meta">
                                        <a>{{ e.autor.get_full_name }}</a>
                                    </div>
                                    <div class="card-text">
                                        Evento: {{ e.evento }}.
                                    </div>
                                    <div class="card-text">
                                        Telefone: {{ e.autor.fone }}
                                    </div>
                                    <div class="card-text">
                                        {{ e.autor.email }}
                                    </div>
                                    <div class="card-text">
                                        {{ e.autor.city }}, {{ e.autor.uf }}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small>Data: {{ e.data }}</small>
                                    <br>
                                    <a class="btn btn btn-success btn-sm" href="{% url 'eventos-update' e.id %}">Editar</a>
                                    <a class="btn btn btn-danger btn-sm" href="{% url 'eventos-delete' e.id %}">Deletar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}