{% extends 'base.html' %}
{% load static %}

{% block title %}Deletar Eventos{% endblock %}
{% block content %}
    <!-- Navigation Start -->
    {% include 'navbar_register.html' %}
    <!-- Navigation End -->

  <section id="delete">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Deseja Realmente Deletar?</h2>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn btn-danger btn-lg">Deletar</button>
                <a class="btn btn btn-success btn-lg" href="{% url 'eventos' %}">Cancelar</a>
            </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
