{% load static %}

        <!-- Footer-->
        <footer class="text-center" id="footer-footer">
            <div class="container" id="container-footer">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Localização</h4>
                        <p class="lead mb-0">R. Dr. Sales de Oliveira, 1661<br />Vila Industrial (Campinas-SP)</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0" >
                        <h4 class="text-uppercase mb-4">Nas Redes Sociais</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Informações</h4>
                        <p class="lead mb-0">Site para fins acadêmicos.<br/>
                        BackEnd: Django(3.0.4).<br/> Template: <a href="https://startbootstrap.com/templates/scrolling-nav/">Bootstrap-scrolling-nav</a></p>
                    </div>
                    <!-- Footer About Text-->
                </div>
            </div>
                    <!-- Copyright Section-->
        <section class="copyright py-4 text-center text-white" id="copyright">
            <div class="container"><small>&copy; Copyright 2020 Easy-Events.</small></div>
        </section>
        </footer>


