{% load static %}

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>EASY-EVENTS</h1>
      <p class="lead">Classificado de Eventos.</p>
    </div>
  </header>