{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">EASY-EVENTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">

        </li>
        <li class="nav-item">

        </li>
        <li class="nav-item">

        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_anonymous %}
            <img src="../../media/default.jpg" alt="Avatar" width="30" height="30">
            {% else %}
            <img src="{{ user.profile.imagem.thumb.url }}" alt="Avatar" width="30" height="30">
            {% endif %}
          </a>
          <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdownMenuLink">
            {% if user.is_authenticated %}
            <a class="nav-link js-scroll-trigger" href="{% url 'eventos' %}">Eventos</a>
            <a class="nav-link js-scroll-trigger" href="{% url 'profile' %}">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">Sair</a>
            {% else %}
            <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Entrar</a>
            <a class="nav-link js-scroll-trigger" href="{% url 'register' %}">Registre-se</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>
