{% load static %}
<link href="{% static 'css/style-service.css' %}" rel="stylesheet">
<section id="services" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>SERVIÇOS</h2>
                    <div class="row row-services">
                        <div class="col-lg-offset-1 col-sm-12 col-md-12 col-lg-12">
                            <div class="features-list">
                                <div class="row">
                                    {% for s in servico %}
                                    <div class="col-sm-4 col-md-4 col-lg-3">
                                        <div class="feature-block bootdey" style="visibility: visible;">
                                            <div class="ico {{ s.icone }}"></div>
                                            <div class="name">
                                                {{ s.nomeServico }}
                                            </div>
                                            <div class="text">{{ s.descricao }}</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</section>
