/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */
header {
  padding: 160px 0 100px;
}

section {
  padding: 100px 0;
}

img {
    color: white;
    background-color: white
}

#section-register {
  padding-top: 90px;
  padding-bottom: 100px;

}
#section-login {
  padding-top: 90px;
  padding-bottom: 100px;
}

#section-logout {
  padding-top: 90px;
  padding-bottom: 100px;
}


#section-eventos {
  padding-top: 30px;
  padding-bottom: 80px;
}

#section-profile {
  padding-top: 30px;
}

#services {
    color: #cacaca;
}

#table {
  padding-top: 200px;
  padding-bottom: 200px;
}

#container-footer {
  padding-top: 30px;
}

#card-row {
    padding: 10px;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;

  _____________________________________________
